

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #dee4ea;
}


html[data-theme="dark"] body {
  background-color: #1a1520;
  color: #ffffff;
}

html[data-theme="light"] body {
  background-color: #faf7fc;
  color: #212529;
}
